/* This file is for your main application CSS */
@import "./phoenix.css";

body {
}

button {
    border-radius: 10px;
    background-color: #0b6c9f;
}

.game {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    column-gap: 1ch;
}

/* Settings */
.settings {
    display: flex;
    flex-direction: column;
    flex-basis: 49%;
    padding-top: 3em;
}

.settings h2 {
    margin: 0;
}

.change-color-black.black {
    background-color: #5c0166;
    border-color: #5c0166;
}

.change-color-white.white {
    background-color: #5c0166;
    border-color: #5c0166;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.edit * {
    margin: 0.25em;
}

.edit div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.edit div p {
    width: 3ch;
    text-align: center;
}

.edit div p:first-child {
    width: auto;
    font-weight: bold;
    margin-left: 0;
}

.scores {
}

.scores button {
    width: 100%;
}

.score {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.score div p {
    margin: 0;
    text-align: right;
}

.score div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 2ch;
}

.score div p {
    min-width: 5ch;
    max-width: 5ch;
}

.score p:first-child {
    font-weight: bold;
}

/* Board  */
.board-container {
    flex-basis: 50%;
    padding: 1em;
    min-width: 350px;
}

.board {
    background: url(/images/grid.svg);
    padding-bottom: 100%;
}

.board button {
    background: transparent;
    border: 0;
    display: block;
    float: left;
    margin: 0;
    padding: 0 0 calc(100% / 9) 0;
    width: calc(100% / 9);
    position: relative;
    font-size: 13px;
}

.board button::after, .captures span {
    border-radius: 50%;
    border: 1px solid black;
}

.board button::after {
    bottom: 5%;
    left: 5%;
    right: 5%;
    top: 5%;
    content: "";
    position: absolute;
    opacity: 0;
}

.board button:not([disabled]):hover::after {
    opacity: 0.5;
}

.board button.black::after, .board button.white::after {
    opacity: 1;
}

.black button:not([disabled]):hover::after, button.black::after, span.black {
    background-color: black;
}

.white button:not([disabled]):hover::after, button.white::after, span.white {
    background-color: white;
}

.board button[disabled] {
    cursor: not-allowed;
}

.board button:focus {
    outline: none;
}

/* Alerts and form errors used by phx.new */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert p {
    margin-bottom: 0;
}

.alert:empty {
    display: none;
}

.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
    display: none;
}

.phx-click-loading {
    opacity: 0.5;
    transition: opacity 1s ease-out;
}

.phx-loading {
    cursor: wait;
}

.phx-modal {
    opacity: 1 !important;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
    background-color: #fefefe;
    margin: 15vh auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.phx-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fade-in-scale {
    animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
    animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}

.fade-out {
    animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
    0% {
        scale: 0.95;
        opacity: 0;
    }
    100% {
        scale: 1.0;
        opacity: 1;
    }
}

@keyframes fade-out-scale-keys {
    0% {
        scale: 1.0;
        opacity: 1;
    }
    100% {
        scale: 0.95;
        opacity: 0;
    }
}

@keyframes fade-in-keys {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out-keys {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
