<section class="phx-hero">
    <h1>Upload a picture</h1>
    <%= form_for @conn, Routes.page_path(@conn, :post_picture), [multipart: true], fn f -> %>
        <p>Monitor a new endpoint</p>
        <label>
            Picture: <%= file_input f, :picture %>
        </label>

        <%= submit "Upload" %>
    <% end %>
</section>

